{% extends 'base.html'%}{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best News Review website </title>
    {% endif %}
</head>

<body>

    <!-- Popular movie -->
    <h3> HEADLINE</h3>
    {% for source in sources %}
    <h3>{{source.name}}</h3>
    {% for headlines in headlines %}
    <ul>
        <img src="{{headlines.image}}" alt="" width="200px">
        <li> {{headlines.description}}</li>
        <a href="{{headlines.url}}"><button>read more</button></a>
        <li>{{headlines.time}}</li>
    </ul>
    {% endfor %} {% endfor %}
</body>
{% endblock %}

</html>