{% extends 'base.html'%}{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best News Review website </title>
    {% endif %}
</head>

<body>
    {% for headlines in headlines %}
    <!-- Popular movie -->
    <h3> HEADLINE</h3>
    <ul>
        <img src="{{headlines.image}}" alt="">
        <li> {{headlines.description}}</li>
        <a href="{{headlines.url}}"><button>{{headlines.author}}</button></a>
        <li></li>
    </ul>
    {% endfor %}
</body>
{% endblock %}

</html>